@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;

  font-size: 30px;
  text-align: center;
}
.item1 {
  font-family: "Roboto Mono";
}
.item2 {
  background-color: #fed650;
}
.item3 {
  background-color: black;
  color: rgb(256, 204, 4);
  font-family: "Roboto Mono";
}
.item4 {
  background-color: white;
  font-family: "Roboto Mono";
}
.item5 {
  background-color: #ffc918;
}
.item6 {
  background-color: black;
  color: rgb(256, 204, 4);
  font-family: "Roboto Mono";
  font-size: 12pt;
  padding: 12em;
}
.item7 {
  background-color: black;
  color: rgb(256, 204, 4);
  font-family: "Roboto Mono";
  padding: 8em;
}
.item8 {
  background-color: #fdd840;
}
@media screen and (max-width: 599px) {
  .column {
    width: 50%;
  }
}
.label {
  font-size: 0.6em;
}
.text-wrap {
  padding: 7em;
}
.black {
  color: black;
}
.black:hover {
  color: rgb(256, 204, 4);
}
a {
  color: rgb(256, 204, 4);
}
a:hover {
  color: white;
}
.credits {
  font-size: 16pt;
}
